/src/lib
/src/backup
/src/release
/src/debug
/src/catbell
**/*.exe
**/*.dbg
/src/*.res
/src/catbell.lps
/src/catbell_additional*.lpi
/src/catbell_additional*.lps
**/*.dll
*/*.wav
*/*.ogg
*/*.mp3
**/*.log
**/*.bak
**/~*
**/.~*
pp*.bat
**.swp
**/*.a